# TODO: document these

AB_API_KEY=${AB_API_KEY}
AB_BASE_URL=${AB_BASE_URL}
AB_BUDGET_ID=${AB_BUDGET_ID}
AB_DATA_DIR=/app/data
AB_DETACHED_PORT=${AB_DETACHED_PORT}
AB_HOST_ALIAS=${AB_HOST_ALIAS}
AB_MODE=${AB_MODE}
AB_PORT=${AB_PORT}

DRY_RUN=${DRY_RUN}
